@model IEnumerable<SportLife.Core.Database.Hall>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminOffice/Views/AdminHome/Index.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adress.AdressStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image1.FileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adress.AdressStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image1.FileName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HallId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HallId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HallId })
        </td>
    </tr>
}

</table>
