@model IEnumerable<SportLife.Website.Areas.AdminOffice.Models.SportCategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminOffice/Views/AdminHome/Index.cshtml";
}

<h2>Sport categories and kinds of sport</h2>

<p>
    @Html.ActionLink("Create new category", "CreateSportCategory") |
    @Html.ActionLink("Create new sport kind", "CreateSportKind")
</p>
@foreach ( var category in Model ) {
    <div class="panel panel-success">
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <img class="img-rounded" width="80" height="80" src="@Url.Action("Index", "Image", new {area = "", id = category.ImageId})" alt="categoryPicture"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => category.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCategory", new {id = category.ID})
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body">
            <table class="table">
                @foreach (var sport in category.SportKinds)
                {
                    <tr>
                        <td>
                            <img class="img-rounded avatar" width="50" height="50" src="@Url.Action("Index", "Image", new {area = "", id = sport.ImageId})" alt="categoryPicture"/>
                        </td>
                        <td>
                            @Html.DisplayFor(model => sport.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditSportKind", new { id = sport.ID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}


