@model SportLife.Core.Database.Price

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminOffice/Views/AdminHome/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abonement.AbonementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abonement.AbonementName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PriceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
