@model SportLife.Core.Database.Visiting

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminOffice/Views/AdminHome/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Visiting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitingDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitingDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shedule.SheduleDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shedule.SheduleDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
