@model SportLife.Website.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Change your account settings</h4></div>
    @using ( Html.BeginForm("EditProfile", "Manage", null, FormMethod.Post, new { @class = "form-horizontal panel-body", role = "form", enctype = "multipart/form-data" } )) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Avatar", new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                <input type="file" id="Avatar" name="upload"/>
                <button>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
            @* todo: add a feature - when click on the pensil textbox is editable*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                <button>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
            @* todo: add a feature - when click on the pensil textbox is editable*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                <button>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                <button>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 in">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <button>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Save" />
                @Html.ActionLink("Cancel", "Index", "Manage")
            </div>
        </div>
    }

    <br />
    @Html.ActionLink("Do you want to change a password?", "ChangePassword", "Manage", new { @class = "btn"})
</div>
